.detalle {
	width: 400px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(245, 245, 245);
	background-color: rgb(8, 8, 8);
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(78, 78, 78, 0.685);
}
.detalle__img {
	width: 100%;
	border-radius: 3px;
}
.detalle__nombre {
	font-weight: 700px;
}
.detalle__precio {
	margin: 10px;
	font-size: 20px;
	color: yellow;
	font-weight: 700;
}
.btnContainer {
	height: 100px;
	padding: 10px;
	background-color: rgba(56, 56, 56, 0.103);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.btnSeguir {
	background-color: yellow;
	color: black;
	border: none;
	padding: 5px 15px;
	margin: 5px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.493);
	border-radius: 2px;
}
.btnTerminar {
	background-color: rgb(10, 10, 10);
	color: yellow;
	border: solid 1px yellow;
	padding: 5px 15px;
	margin: 5px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.493);
	border-radius: 2px;
}
