.nav {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	background-color: rgb(10, 10, 10);
	color: white;
}
.logo {
	padding: 6px 20px;
	cursor: pointer;
}
.categorias {
	height: 100%;
	margin-right: 50px;
	list-style: none;
	display: flex;
	align-items: center;
	justify-self: flex-end;
}
.listas {
	position: relative;
	padding: 15px 30px;
	cursor: pointer;
	border-radius: 3px;
	transition: 0.4s;
}
.listas:hover {
	background-color: yellow;
	color: black;
}

.sublista {
	display: none;
	width: 166.25px;
	position: absolute;
	top: 100%;
	left: 0px;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	background-color: black;
	list-style: none;
	border-radius: 3px;
}
.listaRevestimientos:hover .sublista {
	display: block;
}
.item {
	width: 155px;
	padding: 10px;
	color: white;
	text-align: center;
	border-radius: 3px;
	transition: 0.4s;
}
.item:hover {
	background-color: yellow;
	color: black;
}
.carrito {
	height: 49px;
	padding: 7px 10px;
	margin-left: 20px;
	cursor: pointer;
}
.contenedorGral {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contenidoH1 {
	margin: 40px;
	text-align: center;
}
