.item {
	width: 300px;
	padding: 10px 5px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(31, 31, 31, 0.199);
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(61, 61, 61, 0.541);
}
.itemContador {
	width: 300px;
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(56, 56, 56, 0.103);
	border-radius: 3px;
}
.itemContadorList {
	width: 300px;
	height: 104px;
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(56, 56, 56, 0.103);
	border-radius: 3px;
}
.imgPiso {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 3px;
}
.nombrePiso {
	text-align: center;
	margin: 10px 0 2px;
}

.contador {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}
.contadorLabel {
	display: inline-block;
	text-align: center;
	width: 70px;
	margin: 5px;
	padding: 2px 25px;
	background-color: rgb(241, 241, 241);
}
.btnRestar,
.btnSumar,
.btnAgregar {
	background-color: rgb(10, 10, 10);
	color: yellow;
	border: none;
	padding: 5px 15px;
	margin: 5px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.493);
	border-radius: 2px;
}
.btnContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.btnSeguir {
	background-color: yellow;
	color: black;
	border: none;
	padding: 5px 15px;
	margin: 5px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.493);
	border-radius: 2px;
}
.btnTerminar {
	background-color: rgb(10, 10, 10);
	color: yellow;
	border: solid 1px yellow;
	padding: 5px 15px;
	margin: 5px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.493);
	border-radius: 2px;
}
.itemBtnDetalles {
	font-weight: 600;
	background-color: yellow;
	color: black;
	border: none;
	padding: 3px 12px;
	margin: 10px;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(15, 15, 15, 0.493);
	border-radius: 2px;
}
